*{
    margin: 0;
    padding: 0;
}

.logo{
    color: #819FF7;
    text-shadow: 1px 2px black;
    padding: 5px;
    font-family: 'Turret Road', cursive;
    font-size: 35px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    text-shadow: 1px 2px #819FF7;
}

h1{
    margin-left: 20%;
    font-family: 'Turret Road', cursive;
}

li{
    list-style-type: none;
}

button{
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: #74DF00;
    color: white
}

input{
    margin-bottom: 10px;
    border-radius: 5px;
}

/*CARROSSEL*/
#slider{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    margin-left: 10%;
    text-align: center;
}

#slider input[type=radio]{
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides{
    padding:30px;
    border: 3px solid #ccc;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner{
    margin-left: 0;
}

#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner{
    margin-left: -200%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 200px;
}

#slides .slide{
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#slides .slide_1{
    background: green;
}

#slides .slide_2{
    background: red;
}

#slides .slide_3{
    background: blue;
}

.slide-content{
    padding: 10px;
}

#controls{
    margin: -50px 0 0 0;
    width: 50%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;
}

#controls label:hover{
    opacity: 1;
}

#slide1:checked ~ #control label:nth-child(2),
#slide2:checked ~ #control label:nth-child(3),
#slide3:checked ~ #control label:nth-child(1){
    background-image: url(img/flexa_direita.png) no-repeat;
    margin-left: 50%;
    margin:0 -50px 0 0;
    display:block;
}

#slide1:checked ~ #control label:nth-last-child(2),
#slide2:checked ~ #control label:nth-last-child(3),
#slide3:checked ~ #control label:nth-last-child(1){
    background: url(img/flexa_direita.png) no-repeat;
    float:left;
    margin:0 0 0 -50px;
    display:block;
}

#bullets{
    margin: 100px 0 0;
    text-align: center;
}

#bullets{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3){
    background: #444;
}

@media screen and (max-width: 900px){
    #slide1:checked ~ #control label:nth-child(2),
    #slide2:checked ~ #control label:nth-child(3),
    #slide3:checked ~ #control label:nth-child(1),
    #slide1:checked ~ #control label:nth-last-child(2),
    #slide2:checked ~ #control label:nth-last-child(3),
    #slide3:checked ~ #control label:nth-last-child(1){
        margin: 0;
    }
}

/*FIM CARROSSEL*/

#projetos{
    margin-left: 27%;
}

.img_projetos{
    width: 600px;
    margin-left: 10%;
}

.comentario{
    padding-bottom: 50px;
}

#redes_sociais{
    margin-left: 32%;
    font-size: 110%;
}

.menu{
    padding:5px;
    margin-left: 190px;
    margin-top: -35px;
    background-color: black;
}

.fonts{
    font-family: 'Turret Road', cursive;
}

.links{
    text-decoration: violet;
    background-color: teal;
}

.icone_labenu{
    width: 8%;
}

.voltar_topo{
    position: fixed;
    float: left;
    z-index: 0;
    bottom: 5%;
    right: 2%;
    width:3%;
}

.recado{
    color: white;
    margin-left: 25%;
    margin-right: 50%;
    padding-left: 5%;
    padding-bottom: 2%;
    border: 1px solid #819FF7;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    background-color: #819FF7;
}

.indicacao_local_selecionado:active{
    animation: local_selecionado 7s infinite;
}
@keyframes local_selecionado{
    0% {
        background-color: #A9F5F2;
      }
      50% {
        background-color: #58FAF4;
      }
      100% {
        background-color: #01DFD7;
      }
}

.sobre{
    position: absolute;
    float: left;
    z-index: 0;
    top: 0%;
    right: 2%;
    width: 25%;
    padding: 10px;
    background-color:#EFF8FB;
    box-shadow: 0px 0px 16px #666;
}

.perfil{
    margin-left: 60px;
    border-style: ridge;
}

.projetos{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

.habilidades{
    width:50%;
}

.bloco_redes_sociais{
    margin-left: 23%;
    margin-right: 50%;
    margin-bottom: 5%;
    background-color: black;
    
}

.redes_sociais{
    width: 15%;
    filter: grayscale(100%);
    margin-left: 3%;
    margin-right: 0.1%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.redes_sociais:hover{
    filter: grayscale(0%);
}

@media (max-width: 800px){
    .projetos{
        flex-direction: column;
    }
}